
<%- contentFor('demo') %>
<section class="demo">
  <a href="/" class="btn btn-lg btn-primary">Home Page</a>
  <a href="/contact" class="btn btn-lg btn-primary">Next</a>
  <div class="demo-content">
    <h2>Welcome to the Delta!</h2>
    </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  Home Page
</div>
